@page "/colours/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create New Colour</h3>
<hr />
<br />

<FormComponent buttonText="Create Colour" onValidSubmit="@CreateColour" colour="@colour" />

@code {
    Colour colour = new Colour();

    private async Task CreateColour()
    {
        await _client.PostAsJsonAsync(Endpoints.ColoursEndpoint, colour);
        _navManager.NavigateTo("/colours/");
    }
}
