@page "/bookings/edit/{id:int}"
@using CarRentalManagement.Client.Static;
@using CarRentalManagement.Shared.Models;
@using System.Net.Http.Json;

@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Booking</h3>
<hr />
<br />

<FormComponent buttonText="Update Booking" onValidSubmit="@EditBooking" booking="@booking" />

@code {
    [Parameter] public int id { get; set; }

    Booking booking = new Booking();

    protected async override Task OnParametersSetAsync()
    {
        booking = await _client.GetFromJsonAsync<Booking>($"{Endpoints.BookingsEndpoint}/{id}");
    }

    private async Task EditBooking()
    {
        await _client.PutAsJsonAsync($"{Endpoints.BookingsEndpoint}/{id}", booking);
        _navManager.NavigateTo("/bookings/");
    }
}
